{% extends 'snippets/base.html' %}
{% block content %}
<h2>{{ question.title }}</h2>
<p>{{ question.body|linebreaksbr }}</p>
<p>投稿者: {{ question.author.username }} | 投稿日: {{ question.created|date:"Y-m-d H:i" }}</p>

<hr>
<h3>回答</h3>
<ul>
  {% for answer in answers %}
    <li>{{ answer.body|linebreaksbr }}<br>
        <small>by {{ answer.author.username }} ({{ answer.created|date:"Y-m-d H:i" }})</small>
    </li>
  {% empty %}
    <li>まだ回答がありません。</li>
  {% endfor %}
</ul>

{% if user.is_authenticated %}
  <a href="{% url 'answer_new' question.pk %}">この質問に回答する</a>
{% else %}
  <a href="{% url 'login' %}">ログインして回答</a>
{% endif %}
{% endblock %}
