body {
    font-family: sans-serif;
    background: #f6f6fa;
    color: #222;
}
header {
    background: #295fa6;
    color: #fff;
    padding: 10px;
    margin-bottom: 30px;
}
nav a {
    color: #fff;
    margin: 0 8px;
    text-decoration: none;
}
main {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
